@font-face {
	font-family: 'code';
	src: url('Medel.eot');
	src: url('Medel.eot?#iefix') format('embedded-opentype'),
		url('Medel.woff') format('woff'),
		url('Medel.ttf') format('truetype'),
		url('Medel.svg') format('svg');
}